# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Android build artifacts
android/build/
android/app/build/
android/.gradle/
android/local.properties

# iOS build artifacts
ios/build/
ios/Pods/
ios/.xcode.env.local

# Local environment files and IDEs
.env*.local
.idea/
.vscode/
*.apk
*.ipa
